<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>pokemon shiritori</title>
  <link rel="stylesheet" href="css/style.css?date=20210129">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div id="app" class="app">
    <h3 class="header-style">pokemon shiritori</h3>

    <div class="cp_iptxt">
      <input type="text" v-model="name1"  id="name1"  placeholder="さいしょのポケモン か なにかもじ　を　いれてね">
      <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    <div class="cp_iptxt">
      <input type="text" v-model="name2" id="name2"  placeholder="さいごのポケモン　を　いれてね">
      <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
    </div>

    <div class="form-send">
      <button type="submit" class="Button-style"  v-on:click="request">じっこう</button>                      
      <button type="submit" class="Button-style"  v-on:click="clear">やりなおし</button>                      
    </div>

    <div class="line-bc">
      <h1 v-if="result">ここにけっかが出るよ</h1>
      <div  v-for="(name,count) in result" >
        <div v-if="count % 2==0" class="balloon6"><div class="chatting"><div class="says"><p>{{ name }}</p></div></div></div>
        <div v-if="count % 2==1" class="mycomment"><p>{{ name }}</p></div>
      </div>
    </div>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
